.btn-wrapper {
    display: inline-flex;
}

.btn {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: white;
    color: black;
}

.btn-red {
    background-color: red;
    color: rgb(65, 0, 0);
}

.btn-blue {
    background-color: blue;
    color: rgb(0, 0, 65);
}

.btn-green {
    background-color: green;
    color: rgb(0, 65, 0);
}
body {
    min-height: 100vh;
    }
    
    footer {
    padding: 1rem;
    margin: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    min-width: 100%;
    }
    